<section class="second__header__page">
    <div class="container second__header__page__container">
        <div class="second__header__page__text-info">
            <div class="img-article">
                <img src="assets/image/shop/article.png" alt="">
            </div>
            <div class="second__header__page__text">
                <p>You can choose the best option for you, and it does not matter whether you are in Prague or San Francisco. We will deliver your purchase anywhere!</p>
                <button>Shop now</button>
            </div>
        </div>
        <div class="second__header__page__img">
            <img src="assets/image/shop/women.png" alt="">
        </div>
    </div>
</section>
<section class="shop">
    <div class="container container__shop">
        <div class="filter-shop"></div>
        <app-list-items [quatityCards]="length"></app-list-items>
    </div>
</section>