<div class="container container__header">
    <h1 class="logo">CRISP</h1>
    <nav>
        <ul class="container__header__list-nav">
            <li><a>home</a></li>
            <li><a>Shop</a></li>
            <li><a>blog</a></li>
            <li><a>Sale</a></li>
            <li><a>contact us</a></li>
        </ul>
    </nav>
    <ul class="container__header__user-components">
        <li><p>SIGN IN</p></li>
        <li><p>CREATE AN ACCOUNT</p></li>
        <li><img src="assets/image/header/heart.svg" alt=""></li>
        <li class="basket"><img src="assets/image/header/Basket_goods.svg" alt=""><p>Shopping Cart<br><span>0,00</span></p></li>
    </ul>
</div>